In [1]:
# list 함수
# append() : list의 맨뒤에 값을 추가

colors= ['red','green','blue']
colors2= list() # 빈 리스트를 만드는 리스트함수
colors3=list(colors) # 기존의 리스트를 가져올 수도 있음

colors2.append('black')
colors2.append('white')
colors2.append('pink')
colors2.append(colors) # 리스트를 추가하면 리스트 자체가 하나로 들어가네.

colors3.append('black')
colors3.append('white')
colors3.append('pink')


print(colors)
print(colors2)
print(colors3)

['red', 'green', 'blue']
['black', 'white', 'pink', ['red', 'green', 'blue']]
['red', 'green', 'blue', 'black', 'white', 'pink']

In [2]:
# 인덱스로 호출 가능

print(colors[0])
print(colors[2])
print(len(colors))
print(colors[-1])

red
blue
3
blue

In [3]:
# 슬라이싱

print(colors3)
print(colors3[:])
print(colors3[:2])
print(colors3[1:])
print(colors3[-10:])
print(colors3[-5:4])
print(colors3[::-1])

['red', 'green', 'blue', 'black', 'white', 'pink']
['red', 'green', 'blue', 'black', 'white', 'pink']
['red', 'green']
['green', 'blue', 'black', 'white', 'pink']
['red', 'green', 'blue', 'black', 'white', 'pink']
['green', 'blue', 'black']
['pink', 'white', 'black', 'blue', 'green', 'red']

In [4]:
# list 연산
# list + list = 두 list의 값이 들어간 새로운 list 생성

colors3=['orange', 'black', 'puple']

total=colors+colors3
print(total,"\n"+str(type(total)))

['red', 'green', 'blue', 'orange', 'black', 'puple']
<class 'list'>

In [5]:
# list 연산
# list * int = list를 int 만큼 반복

print(colors*3)
print('blue' in colors3,"\n"+str('red'in colors))

['red', 'green', 'blue', 'red', 'green', 'blue', 'red', 'green', 'blue']
False
True

In [6]:
# list 함수
# extend() : list의 맨뒤에 리스트 값를 추가
#            + 와 차이 : 얘는 기존리스트의 수정, + 는 새로운 리스트로 반환
# insert() : 특정 인덱스에 값을 추가, 기존 값부터 뒤로 밀림

color1=['red','green','blue']
print(color1)
color1.append('puple')
print(color1)
color1.extend(['yellow','pink'])
print(color1)
color1.insert(0,'navy')
print(color1)

['red', 'green', 'blue']
['red', 'green', 'blue', 'puple']
['red', 'green', 'blue', 'puple', 'yellow', 'pink']
['navy', 'red', 'green', 'blue', 'puple', 'yellow', 'pink']

In [7]:
color1.append(['puple'])
print(color1)
color1.extend(['yellow','pink'])
print(color1)
color1.insert(0,['navy','gray'])
print(color1)

['navy', 'red', 'green', 'blue', 'puple', 'yellow', 'pink', ['puple']]
['navy', 'red', 'green', 'blue', 'puple', 'yellow', 'pink', ['puple'], 'yellow', 'pink']
[['navy', 'gray'], 'navy', 'red', 'green', 'blue', 'puple', 'yellow', 'pink', ['puple'], 'yellow', 'pink']

In [8]:
# list 함수
# remove() : list의 해당 값을 삭제, 값이 중복될 경우, 앞의 값이 삭제됨

color2=['navy', 'red', 'green','red']
color2.remove('red') # 중복된 값이 여러개 있으면 앞에 값이 지워짐
print(color2)

['navy', 'green', 'red']

In [9]:
# list 함수
# del() : list의 해당 인덱스의 값의 삭제

del color2[2:]
print(color2)

['navy', 'green']

In [10]:
t=1,2,3
print(t,type(t)) # tuple : list처럼 순서대로 데이터를 저장
                 # 단, 생성된 tuple은 수정할 수 없다.

(1, 2, 3) <class 'tuple'>

In [11]:
a,b,c=t
print(f'a : {a}, b : {b}, c : {c}')

a : 1, b : 2, c : 3

In [12]:
# 이차원 리스트
kor_score=[49,79,20,100,80]
math_score=[43,59,85,30,90]
eng_score=[49,79,48,60,100]
# midterm_score=kor_score,math_score,eng_score #[] 없이 묶으면 tuple로 처리됨
midterm_score=[kor_score,math_score,eng_score]

print(midterm_score)
print(midterm_score[0][1])

math_score[0]=1000
print(midterm_score)


print([row[-1] for row in midterm_score])

[[49, 79, 20, 100, 80], [43, 59, 85, 30, 90], [49, 79, 48, 60, 100]]
79
[[49, 79, 20, 100, 80], [1000, 59, 85, 30, 90], [49, 79, 48, 60, 100]]
[80, 90, 100]

In [13]:
# sort() : 사전순으로 정렬, 대입(=)하지 않아도 값이 변경됨
# sort(reverse=True) : 역순 정렬

a=[1,5,1,3,2,84,145,14,15,32]
print(a)
print(a.count(1))
a.sort(reverse=True)
print(a)

colors3.sort()
print(colors3)

[1, 5, 1, 3, 2, 84, 145, 14, 15, 32]
2
[145, 84, 32, 15, 14, 5, 3, 2, 1, 1]
['black', 'orange', 'puple']

In [14]:
a=[1,2,3]

print(a.pop()) # 리스트에 가장 마지막 값 반환 및 삭제
print(a.pop(0)) # 리스트에 해당 인덱스의 값 반환 및 삭제
print(a)

3
1
[2]

In [15]:
# tuple
# 시퀀스, 값의 변경 불가

t=(1,2,3)

print(t,type(t))
print(t+t,t*3)
print(len(t))

(1, 2, 3) <class 'tuple'>
(1, 2, 3, 1, 2, 3) (1, 2, 3, 1, 2, 3, 1, 2, 3)
3

In [16]:
# tuple
# 튜플은 튜플끼리 합연산이 되고, 다른 자료형과는 합연산이 되지않는다.

print(t+color1)

TypeError: can only concatenate tuple (not "list") to tuple

In [ ]:
# tuple
# 튜플에 저장된 값이 하나라면 해당 타입으로 변경됨
# 만약 값이 하나인 튜플을 생성하고 싶으면 값뒤에 ,를 작성

t2 = (10,)

print(t2, type(t2))
print(len(t2))

In [ ]:
# tuple
# 튜플에 값을 다른 값으로 변경할 수 없다.

t2[0]=100

In [ ]:
# tuple
# 튜플에 값을 삭제하는 것도 불가하다.
# 단 튜플 자체의 삭제는 가능하다.

del t2[0]
del t2

In [ ]:
# tuple -> list
# list를 생성해 tuple을 넣은 뒤 수정을 진행
# 수정된 list를 tuple화
# 튜플 자체를 수정하는게 아니라 새로 수정한 튜플을 생성
# 튜플 자체를 수정하려면 삭제하고 값을 넣어주면 될 듯

list1=list(t)
list1.append(10)
print(list1)

# list -> tuple
t2=tuple(list1)
print(t2)

In [ ]:
# set
# 중복 값을 허용하지 않음. 값의 수정 및 삭제 가능

set1=set([1,2,3,4,1,2,3])
print(set1)

set2={1,2,3,4,1,2,'a'}
print(set2)

In [ ]:
#set
# add() : 값의 추가
# discard() : 값의 제거
# clear() : 모든 값의 삭제

set2.add(10)
print(set2)

set2.discard(1)
print(set2)

set2.clear()
print(set2)

In [ ]:
# set
# 집합연산
# | : 합집합
# & : 교집합
# - : 차집합

set1={1,2,3,4,5}
set2={3,4,5,6,7}

print(set1|set2)
print(set1&set2)
print(set1-set2)

In [ ]:
# set -> list
# 그냥 리스트 선언하면서 감싸면 되는듯

list3=[1,2,2,3,4]
set3=set(list3)
list4=list(set3)

print(list4)

In [ ]:
# dictionary
# 선언 : 빈{ } 를 쓰거나 dict() 사용

d={}
d=dict()

In [ ]:
# dictionary
# {key:value} 로 구성
# keys() : 저장하고 있는 key값을 리스트로 반환
# values() : 저장하고 있는 value값을 리스트로 반환
# items() : (key:value) 형태의 튜플로 반환
# 없는 key값으로 value를 선언하면, 추가된다.

c_code={1:'America',82:'Korea',86:'China',81:'Japan'}
print(c_code)

print(c_code.keys)
print(c_code.keys())

c_code[49]='German'
print(c_code.values())
print(c_code.items())

print(82 in c_code.keys())
print('Korea' in c_code.values())

del(c_code[86])
print(c_code)

In [ ]:
# dictionary
# 값을 꺼낼때, 값을 두개 꺼내는 for 문을 이용
# 순차적으로 key값과 value값이 들어가게 됨

for k,v in c_code.items():
    print(f'code : {k} - contry : {v}')

In [ ]:
# 학생 성적의 평균을 구하고
# 그 평균보다 잫나온 학생의 이름을 출력

students={'tom':85,'jane':72,'adans':60,'bob':90}

avg=sum(students.values())/len(students)
print(avg)

for k,v in students.items() :
    if(v>avg):
        print(k)

In [ ]:
students={'tom':85,'jane':72,'adans':60,'bob':90}

# 딕셔너리 정렬 
# 1. key 기준 - 오름차순
sort_by_key=dict(sorted(students.items(),key=lambda x:x[0]))
print(sort_by_key)

# 2. key 기준 - 내림차순
sort_by_key_desc=dict(sorted(students.items(),key=lambda x:x[0],reverse=True))
print(sort_by_key_desc)

# 3. value 기준 - 오름차순
sort_by_value=dict(sorted(students.items(),key=lambda x:x[1]))
print(sort_by_value)

# 4. value 기준 - 내림차순
sort_by_value_desc=dict(sorted(students.items(),key=lambda x:x[1],reverse=True))
print(sort_by_value_desc)

{'adans': 60, 'bob': 90, 'jane': 72, 'tom': 85}
{'tom': 85, 'jane': 72, 'bob': 90, 'adans': 60}
{'adans': 60, 'jane': 72, 'tom': 85, 'bob': 90}
{'bob': 90, 'tom': 85, 'jane': 72, 'adans': 60}

In [ ]:
# 주어진 숫자에서 중복제거 및 내림차순 정렬

nums=[4,2,5,2,3,1,4,7,3]

snums=set(nums)

nwnums=list(snums)
nwnums.sort(reverse=True)

print(nwnums)

[7, 5, 4, 3, 2, 1]

In [91]:
# in class

nums=[4,2,5,2,3,1,4,7,3]

r1=sorted(set(nums),reverse=True)
print(r1)

[7, 5, 4, 3, 2, 1]

In [ ]:
ex={'a':2,'b':1,'c':1}
print(ex.get('a',0)) # 해당 키에 매핑된 값을 꺼내옴.
print(ex.get('b',0)) 
print(ex.get('Z',10000)) # 키가 없다면 뒤에있는 기본값으로 대체

In [ ]:
# in class
# 텍스트의 알파벳 개수 세기

text='apple'

# l_text=list(text)

# for l in l_text :

result={}

for c in text:
    result[c]=result.get(c,0)+1 # 해당 값을 가져오고 +1해서 누적이 가능하도록

print(result)

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [68]:
# 가장 많이 등장한 단어 찾기
text = "apple banana apple orange banana apple mango"

text2=text.split()

result={}

for i in text2:
    result[i]=result.get(i,0)+1

a=max(result.values())

for k,v in result.items():
    if (v==a) :
        print(k)

apple

In [83]:
# in class
# 가장 많이 등장한 단어 찾기
# max(dict) : 키 기준 최대값
# max(dict,key=dict.get) : 값 기준 최대 키
# max(dict.items(),key=lambda x:x[1]) : item 기준 최대
text = "apple banana apple orange banana apple mango"

words=text.split()

count_word={}

for word in words:
    count_word[word]=count_word.get(word,0)+1

# 가장 많이 등장한 단어 찾기
max_word=max(count_word, key=count_word.get)
# key=count_word.get : dict 에 있는 key를 하나씩 꺼내 get함수에게 전달
#                   -> 매핑된 값 반환 -> 값들을 비교해서 max()가 가장 큰 키를 반환

max_count=count_word[max_word]

print(f'{max_word} : {max_count}회 등장')

# print(max(result.items(), key=lambda x:x[1]))

apple : 3회 등장

In [97]:
# 가장 긴 증가하는 연속 부분 수열 길이

nums = [1, 2, 2, 3, 4, 1, 2, 3, 4, 5]

max_len = 1     # 최종 결과 (최대 길이)
curr_len = 1    # 현재 증가 구간 길이

for i in range(1, len(nums)):
    if nums[i] > nums[i-1]:       # 이전 값보다 크면 → 연속 증가
        curr_len += 1
        max_len = max(max_len, curr_len)
    else:                         # 증가가 끊기면 다시 1부터
        curr_len = 1

print("가장 긴 증가하는 연속 부분 수열의 길이:", max_len)

가장 긴 증가하는 연속 부분 수열의 길이: 5