In [58]:
if 1:print(True)
else :print(False)

True

In [59]:
if 'hello' : print(True)
else :print(False)

True

In [60]:
myage = int(input("나이를 입력하세요"))
if myage <50:
    print("welcome to the Club")
else :
    print("no, you are not accepted")
print("if의 영역이 아님")

welcome to the Club
if의 영역이 아님

In [61]:
import datetime

today= datetime.date.today()
y=today.year

#태어난 연도를 입력해 나이를 구하고,
#현재 상태(학생 종류)를 출력하세요.
#초, 중, 고 학생아님 으로 구분

birth=int(input("태어난 연도를 입력하세요"))

if y-birth<8:
    print("학생이 아님")
elif y-birth<14 :
    print("초등학생")
elif y-birth<17 :
    print("중학생")
elif y-birth<20 :
    print("고등학생")
elif y-birth<27:
    print("대학생")
else :
    print("학생이 아님")

# print(today)

학생이 아님

In [62]:
#in class

import datetime

today=datetime.date.today()
y=today.year

b_year=int(input('태어난 연도 입력'))
age=y-b_year

if age<=26 and age>=20: stu='대학생'
elif age<20 and age>=17: stu='고등학생'
elif age<17 and age>=14: stu='중학생'
elif age<14 and age>=8: stu='초등학생'
else : stu='학생이 아님'
print (age,stu)

2024 학생이 아님

for 변수 in [리스트] :
    반복문

In [63]:
# 아직 작성되지 않았을때, pass처리
for i in [1,2,3]:
    pass
print("for end")

for end

In [64]:
for i in [1,2,3]:
    print(i,end=" ")
    print(i**2)
print("for end")

1 1
2 4
3 9
for end

In [65]:
# 변수를 사용하지 않는 변수는 _로
for _ in[1,2,3]:
    print("hello")

hello
hello
hello

In [66]:
for s in 'hello': # 시계열 데이터 : 순서의 흐름이 중요한 데이터
    print(s)

h
e
l
l
o

In [67]:
for str in ['a','bb','ccc'] :
    print(str)
del(str)

a
bb
ccc

- for 변수 in range(끝+1) : 0부터 끝까지
- for 변수 in range(시작, 끝+1) : 시작부터 끝까지
- for 변수 in range(시작, 끝+1, 증가 값) : 시작부터 끝까지 증가값씩 증가

In [68]:
for i in range(3):
    print(i+1,end=" ")
print()

for i in range(0,3):
    print(i+1,end=" ")
print()

for i in range(0,3,1):
    print(i+1,end=" ")

1 2 3
1 2 3
1 2 3

In [69]:
for x in [1,2,3,4]:
    print(x)
else:
    print("for문 완료")

1
2
3
4
for문 완료

In [70]:
for x in [1,2,3,4]:
    if x % 3:
        print(x)
    else : 
        break
else:
    print("for문 완료") # break 문으로 인해 for문이 종료되고 수행 x

1
2

In [71]:
i=0
while i<5:
    print(i)
    i+=1
else : print("while end")

0
1
2
3
4
while end

In [72]:
sentence = "I Love You"
# for문을 사용해 문장 역순 만들기
reverse_s=""

for char in sentence:
    reverse_s=char+reverse_s

print(reverse_s)

uoY evoL I

In [73]:
sentence = 'I Love You'
slist2 = sentence.split() #['I' 'Love' 'You']
rs = ''

for s in slist2:
    rs = s +" "+ rs
print(rs)

You Love I

In [87]:
# 십진수를 2진수로 바꾸기

i=int(input("십진수 입력 : "))
j=i
e=""

while i>0:
    e=str(i % 2)+e
    i//=2

print(f"{j} 값은 이진수로 {e}")

10 값은 이진수로 1010

In [84]:
#in class
d = int (input('십진수 입력 > '))
a=d
b=''

while d>0:
    i = d % 2
    d//= 2
    b=str(i) + b

print(a,'-> '+b)

10 -> 1010