In [65]:
import pymysql

db = pymysql.connect(
   host='localhost',
    port=3306, #DB 포트번호
    user='pytest',
    passwd='pytest',
    db='pytest',
    charset='utf8'
 )

cursor = db.cursor() # 커서 객체 생성 -> sql 쿼리문 수행
sql = 'select * from dept'

cursor.execute(sql) # excute() 실행

rows = cursor.fetchall() # 쿼리결과에서 모든 행 가져옴 (tuple)
for row in rows:
   print(row)

db.close()

(10, 'ACCOUNTING', 'NEW YORK')
(20, 'RESEARCH', 'DALLAS')
(30, 'SALES', 'CHICAGO')
(40, 'OPERATIONS', 'BOSTON')
(50, 'wktkf', 'wnrwk')
(60, 'dhotksk', 'ahffk')

In [59]:
def max_deptno(db,cursor):
    sql='select max(deptno)+10 from dept'
    cursor.execute(sql)
    row= cursor.fetchone() 
    if row :
        return row[0]
    else : 
        return 10

def insert(db,cursor,deptno):
    dname =input('부서명')
    loc =input('근무지')
    dept_info=(int(deptno),dname,loc)
    insert_sql='insert into dept values(%s,%s,%s)'
    cursor.execute(insert_sql,dept_info)
    db.commit()
    print(cursor.rowcount, "개의 레코드가 추가되었습니다.")

In [64]:
db = pymysql.connect(
   host='localhost',
    port=3306,
    user='pytest',
    passwd='pytest',
    db='pytest',
    charset='utf8'
)
cursor = db.cursor()
 
deptno =  max_deptno(db, cursor)
insert(db, cursor, deptno)

db.close()

1 개의 레코드가 추가되었습니다.

In [67]:
db = pymysql.connect(
   host='localhost',
    port=3306,
    user='pytest',
    passwd='pytest',
    db='pytest',
    charset='utf8'
 )

cursor = db.cursor() #커서 객체 생성 ->sql 쿼리문 수행
sql = 'select * from dept'

cursor.execute(sql) # execute() : 실행

rows = cursor.fetchmany(2) # 지정한 개수만큼만 가져오기
for row in rows:
   print(row)
print('----------')
rows = cursor.fetchmany(2) 
for row in rows:
   print(row)
print('----------')

db.close()

(10, 'ACCOUNTING', 'NEW YORK')
(20, 'RESEARCH', 'DALLAS')
----------
(30, 'SALES', 'CHICAGO')
(40, 'OPERATIONS', 'BOSTON')
----------

In [ ]:
# 근무지 수정

db = pymysql.connect(
   host='localhost',
    port=3306, #DB 포트번호
    user='pytest',
    passwd='pytest',
    db='pytest',
    charset='utf8'
)

cursor=db.cursor()
sql='update dept set loc = %s where deptno = %s'

deptno= input('부서번호')
loc= input('근무지')

cursor.execute(sql,(loc,deptno))
db.commit()

db.close()

In [ ]:
db = pymysql.connect(
   host='localhost',
    port=3306, #DB 포트번호
    user='pytest',
    passwd='pytest',
    db='pytest',
    charset='utf8'
)

cursor=db.cursor()
sql='update dept set loc = %s where deptno = %s'

deptno= input('부서번호')
loc= input('근무지')

cursor.execute(deptno,loc)

In [57]:
db = pymysql.connect(
    host='localhost',
    port=3306,
    user='pytest',
    passwd='pytest',
    db='pytest',
    charset='utf8'
)

cursor=db.cursor() # sql 쿼리문을 수행할 커서 객체 생성
sql='delete from dept where deptno=%s'

deptno=input('삭제할 부서')

cursor.execute(sql,(deptno))
db.commit()

db.close()